<%- include('partials/header') %>

<div class="container text-dark">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a href="/reviews" class="nav-link px-2 link-secondary"
          >All Reviews</a
        >
      </li>
      <li><a href="/reviews/my" class="nav-link px-2">My Reviews</a></li>
      <li><a href="/books" class="nav-link px-2">Add reviews</a></li>
      <li><a href="/general/faq" class="nav-link px-2">FAQs</a></li>
      <li><a href="/general/about" class="nav-link px-2">About</a></li>
    </ul>
  </header>

  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">About</h1>
    <div class="row mb-2">
      Your Bookish Haven Welcome to Book Vista, your personal sanctuary for
      book lovers. We're passionate about creating a space where you can immerse
      yourself in the world of literature, connect with fellow readers, and
      share your love for stories. Our mission is to provide a platform that
      celebrates the joy of reading. Whether you're a seasoned bookworm or just
      starting your literary journey, we believe that everyone has a unique
      perspective to share. Here, you can effortlessly organize your reading
      list, discover new books based on your preferences, and engage in
      insightful discussions with like-minded individuals. We're committed to
      fostering a thriving community of book enthusiasts. By sharing your
      thoughts and recommendations, you contribute to a rich tapestry of
      literary exploration. Together, we're building a space where book lovers
      can come together to inspire and be inspired. Join us on this exciting
      adventure as we celebrate the power of words and the magic of
      storytelling.
    </div>
  </div>
</div>

<%- include('partials/footer') %>
