<%- include('partials/header') %>

<div class="container text-dark">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
  >
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li>
        <a href="/reviews/" class="nav-link px-2 link-secondary"
          >All Reviews</a
        >
      </li>
      <li><a href="/reviews/my" class="nav-link px-2">My Reviews</a></li>
      <li><a href="/books/" class="nav-link px-2">Add reviews</a></li>
      <li><a href="/general/faq" class="nav-link px-2">FAQs</a></li>
      <li><a href="/general/about" class="nav-link px-2">About</a></li>
    </ul>
  </header>

  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <h1 class="text-body-emphasis">Frequently Asked Questions</h1>
    <div class="row mb-2">
      <div class="faq-container">
        
          <p>Ques : How do I create an account?</p>
          <p>
            Ans : To create an account, simply click on the "Sign Up" button at the
            top right corner of the page and follow the on-screen instructions.
          </p>
        
        
          <p>Ques : Is it free to use your website?</p>
          <p>
            Ans : Yes, our website is completely free to use. There are no hidden fees
            or subscription charges.
          </p>
        
        
          <p>Ques : How do I add a book to my reading list?</p>
          <p>
            Ans : To add a book to your reading list, search for the book title or
            author, then click the "Add to Reading List" button.
          </p>
        
        
          <p>Ques : Can I edit or delete my book reviews?</p>
          <p>
            Ans : Yes, you can edit or delete your book reviews by going to your
            profile and clicking on the "My Reviews" tab.
          </p>
        
        
          <p>Ques : How can I share my book reviews with others?</p>
          <p>
            Ans : You can share your book reviews on social media platforms by
            clicking the share buttons below your review.
          </p>
        
        
          <p>Ques : How can I find books to read based on my interests?</p>
          <p>
            Ans : You can find books to read by using our search bar or by browsing
            through our book recommendations based on your reading history.
          </p>
        
        
          <p>Ques : What happens to my data if I delete my account?</p>
          <p>
            Ans : When you delete your account, all your personal information and book
            data will be permanently deleted from our servers.
          </p>
        
        
          <p>Ques : I forgot my password. How can I reset it?</p>
          <p>
            Ans : To reset your password, click on the "Forgot Password" link on the
            login page and follow the instructions.
          </p>
        
        
          <p>Ques : What is an ISBN?</p>
          <p>
            Ans : An ISBN (International Standard Book Number) is a unique identifier
            assigned to each book publication.
          </p>
        
        
          <p>Ques : How can I get an ISBN for my book?</p>
          <p>
            Ans : You can obtain an ISBN by contacting your book publisher or by
            registering with an ISBN agency like Bowker.
          </p>
        
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
